@import "vars.css";

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18vh;
    background: var(--blue);
    color: var(--red);
    order: 2;
    margin-bottom: auto;
    flex: 0 0 auto;
}

.navigatePanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 13vh;
    align-content: space-between;
}

.progressPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
}

.navigatePanel .playButton img {
    width: 10vh;
    height: 10vh;
    margin-top: 2vh;
    margin-left: 10px;
    align-self: center;
    
}

.navigatePanel .nextButton img {
    width: 5vh;
    height: 5vh;
    margin-top: 4.25vh;
    margin-left: 10px;
    align-self: center;
}

.navigatePanel .prevButton img {
    width: 5vh;
    height: 5vh;
    margin-top: 4.25vh;
    margin-left: 10px;
    align-self: center;
}

.navigatePanel .mixButton img {
    width: 5vh;
    height: 5vh;
    margin-top: 7vh;
    margin-left: 10px;
}

.navigatePanel .repButton img {
    width: 5vh;
    height: 5vh;
    margin-top: 7vh;
    margin-left: 10px;
}

.progressPanel .progressBar {
    width: 80%;
    height: 0.9vh;
    background: var(--yellow);
    margin-top: 2vh;
    margin-bottom: 10px;
}