@import "vars.css";


.musicList {
    order: 1;
    height: 100vh;
    flex-grow: 1;
    background: var(--yellow);
    display: block;
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow-y: auto;
}

.musicBlock {
    background: var(--red);
    color: var(--blue);
    margin-left: 0;
    margin-right: 8vh;
    padding-left: 0;
}

.musicBlock h1 {
    font-size: 22px;
    margin-left: 0;
    padding-left: 0;
}

.musicBlock a {
    font-size: 15px;
}